html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  text-align: center;      /* 中の文字も中央寄せ */
}

.main {
    margin-left: 10vw;
    margin-right: 10vw;
}
